.arrow {
  width: 18px;
  height: 18px;
  border-top: 5px solid $color-arrow;
  border-left: 5px solid $color-arrow;
  outline: 0;
  transition: 0.2s linear;
  position: absolute;
  cursor: pointer;
  z-index: 3;
  top: 50%;

  &_left {
    transform: rotate(-45deg);
    left: 4rem;

    @media screen and (max-width: 376px) {
      left: 1rem;
    }

    &:hover {
      transform: scale(1.4) rotate(-45deg);
    }
  }

  &_right {
    transform: rotate(135deg);
    right: 3rem;

    &:hover {
      transform: scale(1.4) rotate(135deg);
    }

    @media screen and (max-width: 376px) {
      right: 2rem;
    }
  }
}
